<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Jupiter Ascending</string>
    <string>Avengers: Age of Ultron</string>
    <string>The Lazarus Effect</string>
    <string>Focus</string>
    <string>The Boy Next Door</string>
    <string>Mission Impossible 5</string>
    <string>Vice</string>
    <string>True Story</string>
    <string>Everest</string>
    <string>Fifty Shades of Grey </string>
</array>
</plist>
